@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/Rubik-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Rubik';
  src: url(assets/fonts/Rubik-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(assets/fonts/Comfortaa-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(assets/fonts/Comfortaa-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Comfortaa';
  src: url(assets/fonts/Comfortaa-Bold.ttf);
  font-weight: 700;
}
.comfortaa-light {
  font-family: 'Comfortaa';
  font-weight: 300;
}
.comfortaa-reg {
  font-family: 'Comfortaa';
  font-weight: 400;
}
.comfortaa-bold {
  font-family: 'Comfortaa';
  font-weight: 700;
}
.rubik-light {
  font-family: 'Rubik';
  font-weight: 300;
}
.rubik-light_i {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: italic;
}
.rubik-med {
  font-family: 'Rubik';
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  overflow-x: hidden;
}
.header {
  position: fixed;
  width: 100%;
  height: 47px;
  background: #262626;
  opacity: 0.8;
  z-index: 10;
}
.header-title {
  display: none;
}
.header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-nav-items {
  display: flex;
}
.header-nav-items a {
  font-family: 'Comfortaa';
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  padding-left: 30px;
  display: block;
}
.header-nav-bar {
  display: none;
}
.header-nav-close {
  display: none;
}
.header-contacts {
  padding-left: 75px;
  padding-right: 15px;
}
.header-contacts a {
  display: block;
  font-size: 16px;
  font-family: 'Comfortaa';
  font-weight: 400;
  color: #ffffff;
}
.section-promo {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(assets/img/bg_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-promo-content {
  width: auto;
  padding-top: 247px;
}
.section-promo-title {
  position: relative;
  text-align: left;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
}
.section-promo-title:before {
  position: absolute;
  content: "";
  top: -100px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-image: url(assets/img/hair-style1.svg);
  background-size: 100%;
}
.section-promo-text {
  text-align: left;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}
.section-history {
  background: #161616 url(assets/img/bg_2.svg);
  background-size: cover;
}
.section-history-title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
}
.section-history-text {
  line-height: 38px;
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 20px;
}
.section-history-text span {
  font-family: 'Rubik';
  font-weight: 500;
}
.section-history-img img {
  max-height: 557px;
  object-fit: cover;
  border-radius: 50px;
  width: 100%;
}
.section-magic {
  padding-bottom: 140px;
  border: 0px;
  width: 100%;
  position: relative;
  background-color: #000;
  background-image: url(assets/img/bg_3.gif);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.section-magic-title {
  padding-bottom: 49px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
  color: #FFE54F;
}
.section-magic-text {
  text-align: center;
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 24px;
}
.section-magic-text span {
  font-family: 'Rubik';
  font-weight: 500;
}
.section-magic-img {
  z-index: 2;
  width: 100%;
  margin-left: -15px;
}
.section-magic-img img {
  border-radius: 620px;
  width: 100%;
  object-fit: cover;
}
.section-magic-bg-top {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  width: 100%;
}
.section-magic-bg-top img {
  width: 100%;
}
.section-magic-bg-bottom {
  left: -1px;
  right: -1px;
  position: absolute;
  height: auto;
  bottom: -1px;
  width: 100%;
}
.section-magic-bg-bottom img {
  width: 100%;
}
.section-magic-content {
  padding: 20px;
  line-height: 38px;
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 24px;
}
.section-magic-content span {
  font-family: 'Rubik';
  font-weight: 500;
}
.section-support {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #161616;
  background-image: url(assets/img/bg_4.svg);
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}
.section-support-title {
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 34px;
  padding-bottom: 30px;
}
.section-support-content {
  text-align: center;
}
.section-support-content p {
  font-size: 24px;
  font-family: 'Rubik';
  font-weight: 300;
}
.section-support-content p span {
  font-family: 'Rubik';
  font-weight: 500;
}
.section-support-clarification {
  font-size: 18px;
  font-family: 'Rubik';
  font-weight: 300;
}
.section-ability {
  background-color: #000000;
  background-image: url(assets/img/bg_5.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  position: relative;
  padding-bottom: 233px;
}
.section-ability-bg-top {
  z-index: 1;
  position: absolute;
  top: -2px;
  width: 100%;
}
.section-ability-bg-top img {
  width: 100%;
}
.section-ability-bg-bottom {
  height: auto;
  z-index: 1;
  bottom: -2px;
  position: absolute;
  width: 100%;
}
.section-ability-bg-bottom img {
  width: 100%;
}
.section-ability-title {
  padding-top: 190px;
  z-index: 2;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
}
.section-ability-item {
  z-index: 2;
  padding-top: 109px;
  text-align: center;
}
.section-ability-item-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 28px;
}
.section-ability-item-line_left {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #C4C4C4;
}
.section-ability-item-line_left:before {
  content: "";
  z-index: 2;
  background-image: url(assets/img/culture1.svg);
  background-size: contain;
  width: 47px;
  height: 47px;
  position: absolute;
  top: -25px;
  left: -23px;
}
.section-ability-item-line_right {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #C4C4C4;
}
.section-ability-item-line_right:before {
  content: "";
  z-index: 2;
  background-image: url(assets/img/culture1.svg);
  background-size: contain;
  width: 47px;
  height: 47px;
  position: absolute;
  top: -25px;
  right: -23px;
}
.section-ability-item p {
  padding-top: 39px;
  padding-bottom: 24px;
  line-height: 48px;
  font-size: 24px;
  font-family: 'Comfortaa';
  font-weight: 300;
}
.section-ability-item-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-ability-item-contact-left {
  width: 30%;
  display: flex;
  align-items: center;
}
.section-ability-item-contact-left img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
.section-ability-item-contact-left a {
  text-align: left;
  display: block;
  color: #ffffff;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 16px;
}
.section-ability-item-contact-main {
  width: 30%;
  height: 44px;
  background-color: #F6DE52;
  border-radius: 10px;
}
.section-ability-item-contact-main p {
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 44px;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  display: block;
}
.section-recomend {
  background-color: #161616;
}
.section-recomend-title {
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
}
.section-recomend-slider {
  width: 100%;
}
.section-recomend-slider-item {
  width: 100%;
}
.section-recomend-slider-item div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-recomend-slider-item div img {
  height: 70vh;
  max-width: 100%;
  object-fit: contain;
}
.section-recomend-slider-item div video {
  height: 70vh;
  max-width: 100%;
  object-fit: contain;
}
.section-recomend-arrow-left img {
  cursor: pointer;
}
.section-recomend-arrow-right {
  text-align: right;
}
.section-recomend-arrow-right img {
  cursor: pointer;
}
.slick-dots {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-top: 35px;
  width: 50%;
  justify-content: space-around;
}
.slick-dots li {
  position: relative;
}
.slick-dots li button {
  opacity: 0;
}
.slick-dots li:before {
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #505050;
  top: 0;
  left: 50%;
  margin-left: -5px;
}
.slick-dots li.slick-active:before {
  top: -2px;
  left: 50%;
  margin-left: -7px;
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #161616;
  border: 2px solid #FFE54F;
}
.footer {
  background-color: #161616;
  background-image: url(assets/img/bg_footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-content {
  padding-top: 120px;
  text-align: center;
}
.footer-title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
}
.footer-contacts {
  padding-top: 87px;
  padding-bottom: 50px;
}
.footer-contact {
  padding-bottom: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-contact p {
  margin: 0;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 24px;
}
.footer-contact img {
  margin-right: 28px;
  width: 25px;
  height: 25px;
}
.footer-text {
  font-family: 'Comfortaa';
  font-weight: 300;
  font-size: 18px;
  line-height: 48px;
  padding-bottom: 70px;
}
.section-form {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.section-form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}
.section-form-container form {
  text-align: center;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}
.section-form-container form a {
  display: block;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-form-container label {
  padding-top: 22px;
  padding-left: 15px;
  text-align: left;
  display: block;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 18px;
}
.section-form-container input[type="text"] {
  color: #ffffff;
  padding-left: 10px;
  display: block;
  width: 100%;
  border-radius: 50px;
  background-color: inherit;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.section-form-container input[type="tel"] {
  color: #ffffff;
  padding-left: 10px;
  display: block;
  width: 100%;
  border-radius: 50px;
  background-color: inherit;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.section-form-container input[type="submit"] {
  background-color: #F6DE52;
  color: #000000;
  padding: 4px 48px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}
.section-form-content {
  position: relative;
  padding: 20px 90px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  background-image: url(assets/img/bg_form.jfif);
  background-size: cover;
  background-position: center bottom;
}
.section-form-content img {
  margin-right: -30px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
.section-form-title {
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 48px;
}
.section-form-line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.81);
}
.section-form-choose {
  display: flex;
}
.section-form-choose div {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.section-form-choose div select {
  width: 100%;
  height: 40px;
  background-image: url(assets/img/arrows_down.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  color: #ffffff;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.section-form-choose div select option {
  color: #000000;
}
.section-form-choose-title {
  padding-top: 24px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 22px;
}
@media (max-width: 768px) {
  .header {
    background-repeat: no-repeat;
  }
  .header-title {
    display: none;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-top: 80px;
  }
  .header-title span {
    position: relative;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 20px;
  }
  .header-title span::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(assets/img/hair-style1.svg);
    background-size: 100%;
    top: -60px;
    left: 50%;
    margin-left: -30px;
  }
  .header-title p {
    margin: 0;
    font-family: 'Comfortaa';
    font-weight: 400;
    font-size: 14px;
  }
  .header-nav {
    justify-content: space-between;
  }
  .header-nav-items {
    display: none;
    padding-top: 40px;
    text-align: center;
  }
  .header-nav-items a {
    font-family: 'Comfortaa';
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    padding-left: 0px;
    display: block;
    padding-bottom: 27px;
  }
  .header-nav-bar {
    display: block;
    padding-right: 15px;
  }
  .header-nav-close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .header-contacts {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-contacts a {
    display: block;
    font-size: 16px;
    font-family: 'Comfortaa';
    font-weight: 400;
    color: #ffffff;
  }
  .section-promo-content {
    text-align: center;
  }
  .section-promo-title {
    font-size: 30px;
    margin: 0;
  }
  .section-promo-text {
    text-align: center;
    font-size: 20px;
  }
  .section-history {
    background: #161616 url(assets/img/bg_2.svg);
    background-size: cover;
    padding-bottom: 50px;
  }
  .section-history-title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
  }
  .section-history-text {
    text-align: center;
  }
  .section-history-img img {
    max-height: 300px;
  }
  .section-magic {
    padding-bottom: 80px;
  }
  .section-magic-title {
    z-index: 2;
    padding-bottom: 25px;
    text-align: center;
    font-size: 30px;
  }
  .section-magic-text {
    z-index: 4;
    padding-bottom: 41px;
    text-align: center;
    font-size: 24px;
  }
  .section-magic-img {
    margin-left: 0px;
  }
  .section-magic-bg-top {
    z-index: 1;
  }
  .section-magic-bg-top img {
    height: 300px;
    object-fit: cover;
  }
  .section-magic-bg-bottom {
    z-index: 1;
  }
  .section-magic-bg-bottom img {
    height: 150px;
    object-fit: cover;
  }
  .section-magic-content {
    z-index: 2;
    text-align: center;
  }
  .section-support {
    padding-top: 0;
    padding-bottom: 60px;
  }
  .section-support-title {
    font-size: 28px;
    padding-bottom: 30px;
  }
  .section-support-content {
    padding-top: 40px;
    text-align: center;
  }
  .section-support-content p {
    font-size: 24px;
    font-family: 'Rubik';
    font-weight: 300;
  }
  .section-support-content p span {
    font-family: 'Rubik';
    font-weight: 500;
  }
  .section-support-clarification {
    font-size: 18px;
    font-family: 'Rubik';
    font-weight: 300;
  }
  .section-ability {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 80px;
  }
  .section-ability-title {
    padding-top: 90px;
    font-size: 30px;
  }
  .section-ability-item {
    z-index: 2;
    padding-top: 70px;
  }
  .section-ability-item-title {
    font-size: 20px;
  }
  .section-ability-item-line_left {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .section-ability-item-line_left:before {
    width: 30px;
    height: 30px;
    top: -15px;
    left: -13px;
  }
  .section-ability-item-line_right {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .section-ability-item-line_right:before {
    width: 30px;
    height: 30px;
    top: -15px;
    right: -13px;
  }
  .section-ability-item p {
    padding-top: 20px;
    padding-bottom: 24px;
    font-size: 18px;
  }
  .section-ability-item-contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section-ability-item-contact-left {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .section-ability-item-contact-left img {
    width: 34px;
    height: 34px;
    padding-right: 10px;
  }
  .section-ability-item-contact-left a {
    text-align: left;
    display: block;
    font-size: 12px;
  }
  .section-ability-item-contact-left:first-child {
    order: 2;
  }
  .section-ability-item-contact-left:last-child {
    order: 3;
  }
  .section-ability-item-contact-main {
    margin-bottom: 22px;
    order: 1;
    text-align: center;
    width: 100%;
    background-color: inherit;
  }
  .section-ability-item-contact-main p {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    background-color: #F6DE52;
    border-radius: 10px;
  }
  .section-recomend-title {
    font-size: 30px;
  }
  .section-recomend-slider {
    width: 100%;
  }
  .section-recomend-slider-item {
    width: 100%;
  }
  .section-recomend-slider-item div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .section-recomend-slider-item div img {
    height: 70vh;
    max-width: 100%;
    object-fit: contain;
  }
  .section-recomend-slider-item div video {
    width: 100%;
  }
  .section-recomend-arrow-left img {
    cursor: pointer;
  }
  .section-recomend-arrow-right {
    text-align: right;
  }
  .section-recomend-arrow-right img {
    cursor: pointer;
  }
  .slick-dots {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    padding-top: 35px;
    width: 50%;
    justify-content: space-around;
  }
  .slick-dots li {
    position: relative;
  }
  .slick-dots li button {
    opacity: 0;
  }
  .slick-dots li:before {
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #505050;
    top: 0;
    left: 50%;
    margin-left: -5px;
  }
  .slick-dots li.slick-active:before {
    top: -2px;
    left: 50%;
    margin-left: -7px;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #161616;
    border: 2px solid #FFE54F;
  }
  .footer {
    background-color: #161616;
    background-image: url(assets/img/bg_footer.svg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .footer-content {
    padding-top: 80px;
    text-align: center;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-contacts {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer-contact {
    padding-bottom: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-contact p {
    margin: 0;
    font-size: 20px;
  }
  .footer-text {
    padding-bottom: 30px;
  }
  .section-form {
    width: 100%;
    height: 100vh;
  }
  .section-form-container {
    width: 100%;
    height: 100vh;
    padding: 0px;
  }
  .section-form-container form {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-form-container form a {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-form-container label {
    padding-top: 22px;
    padding-left: 15px;
  }
  .section-form-container input[type="submit"] {
    background-color: #F6DE52;
    color: #000000;
    padding: 4px 48px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .section-form-content {
    height: 100%;
    padding: 20px 0px;
    border-radius: 0px;
    width: 100%;
    background-image: url(assets/img/bg_form.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .section-form-content img {
    margin-right: 0px;
    top: 10px;
    right: 10px;
  }
  .section-form-title {
    font-size: 30px;
  }
  .section-form-line {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
  .section-form-choose {
    display: flex;
  }
  .section-form-choose div {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-form-choose-title {
    padding-top: 24px;
    text-align: center;
    font-size: 20px;
  }
}
